# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/vendor/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore Byebug command history file.
.byebug_history

.idea
.env
*.iml

# Mac temp file
.DS_Store
/temp/*
